@import '../../../styles/stylesheets/bootstrap/variables';

$skill-bg: $theme-highlight-color;

.skill-container {
  display: inline-block;
}

.skill-level-flair {
  display: inline-block;
  padding: 0 3px;

  > .skill-level {

    &-1 {
      height: .3em;
    }

    &-2 {
      height: .65em;
    }

    &-3 {
      height: 1em;
    }

    &-1, &-2, &-3 {
      width: 2px;
      display: inline-block;
      background-color: #eee;
    }
  }

  &.beginner {
    > .skill-level-1 {
      background-color: $skill-bg;
    }
  }

  &.intermediate {
    > .skill-level {
      &-1, &-2 {
        background-color: $skill-bg;
      }
    }
  }

  &.expert {
    > .skill-level {
      &-1, &-2, &-3 {
        background-color: $skill-bg;
      }
    }
  }
}

.skill-name {
  display: inline-block;
}
