<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img id="about-img" [src]="userProfile.avatarUrl ? '/assets/img/' + userProfile.avatarUrl : 'https://placehold.it/250x250'"/>
      <h3 class="port-vert-space" id="about-name"><strong>{{userProfile.name}}</strong></h3>
      <h5 class="port-vert-space" id="about-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{userProfile.locationCity +
        (userProfile.locationRegion ? ', ' : '') + userProfile.locationRegion}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="port-vert-space" id="about-links">
        <a class="about-link inverted" target="_blank" [href]="link.url" *ngFor="let link of userProfile.links" [title]="link.text">
          <i [ngClass]="link.icon ? 'fa fa-' + link.icon : ''"></i>
        </a>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="port-vert-space" id="about-summary">
        <p>{{userProfile.bio}}</p>
      </section>
      <hr>
    </div>
  </div>

  <div class="row row-flex">
    <div class="col-sm-6" *ngFor="let detail of userProfile.details">
      <section class="port-vert-space">
        <p class="port-section-title">{{detail.title}}</p>
        <p class="port-section-detail">{{detail.content}}</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="port-vert-space" id="about-skills">
        <app-skill *ngFor="let skill of userProfile.skills" [skill]="skill"></app-skill>
      </section>
    </div>
  </div>

</div>
