@import '../../../styles/stylesheets/bootstrap/variables';


:host {
  display: block;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}
:host:after {
  content: "";
  display: block;
  height: $footer-height;
}

#about {

  &-img {
    border-radius: 999px;
    max-width: 125px;
    display: block;
    margin: auto;
    border: solid 1px $theme-highlight-color;
    box-shadow: $theme-subtle-shadow;
  }

  &-name, &-location {
    text-align: center;
  }


  &-location {
    color: $theme-subtle-color;
  }

  &-summary {
    font-size: 1em;
  }

  &-title {
  }

  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    font-variant: small-caps;
    color: $theme-subtle-color;
  }
}

.about {

  &-link {
    margin: 5px 8px;
  }

  &-skill {
    display: inline-block;
    margin: auto 3px;
    font-style: italic;
    font-variant: small-caps;
  }
}
