<div class="container text-center">
  <img id="about-img" [src]="'http://placehold.it/250x250'" />
  <h1 id="about-title">Jonathan Welker</h1>
  <ul id="about-skill-list">
    <li class="about-skill" *ngFor="let skill of skills">{{skill}}</li>
  </ul>
  <div id="about-summary">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dolorem. Repellendus, atque minus reprehenderit laboriosam
      inventore sapiente nihil. Vitae tempore, qui debitis. Perspiciatis id, eligendi deleniti quas recusandae odit reprehenderit
      ipsum veritatis, possimus distinctio minima rem ipsam nulla. Ipsum veniam quis at blanditiis eum maiores maxime id
      iure ad asperiores corporis, ullam facere debitis possimus reprehenderit perspiciatis facilis libero exercitationem!
      Provident in laudantium temporibus quam maxime, cumque, nobis reprehenderit, quaerat obcaecati aliquid dolorum quae
      officiis repellat. Facilis nostrum iusto harum, illum nisi unde eos voluptates, autem labore quos officiis sequi obcaecati
      omnis, quia rem aut necessitatibus quam asperiores dolores dolorem!
    </p>
  </div>
</div>