<div class="container">
  <img id="about-img" [src]="userProfile.avatarUrl || 'http://placehold.it/250x250'"/>
  <h4 id="about-name"><strong>{{userProfile.name}}</strong></h4>
  <h5 id="about-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{userProfile.locationCity +
    (userProfile.locationRegion ? ', ' : '') + userProfile.locationRegion}}</h5>

  <div id="about-links">
    <a class="about-link inverted" target="_blank" [href]="link.url" *ngFor="let link of userProfile.links" [title]="link.text">
      <i [ngClass]="link.icon ? 'fa fa-' + link.icon : ''"></i>
    </a>
  </div>

  <div id="about-skills">
    <app-skill *ngFor="let skill of userProfile.skills" [skill]="skill"></app-skill>
  </div>

  <div id="about-summary">
    <p>{{userProfile.bio}}</p>
  </div>
</div>
