@import '../../../styles/variables';


.site-footer {
  height: $footer-height;
  text-align: center;
  padding: .5rem 0;
}

a {
  font-variant: small-caps;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
  margin: 5px auto;

  &:hover {
    color: $defaultColor;
  }

  span {
    font-size: 40px;
  }
}
