@import '../../../styles/stylesheets/bootstrap/variables';


.active, .active:focus {
  color: $theme-text-color !important;
}

.navbar-collapse,
.navbar.navbar-default {
  border: none;
}

.nav.navbar-nav > li {
  font-size: 20px;
}

.nav.navbar-nav > li,
.navbar-brand {
  font-variant: $theme-nav-font-variant;
}

.navbar-brand-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar.navbar-default {
    width: 100%;
    border-bottom: solid 1px $theme-border-color;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-desktop {
    display: none;
  }

  .navbar-brand-mobile {
    display: inherit;
  }

  .navbar-header {
    border-bottom: solid 1px $theme-highlight-color;
  }

  .navbar-collapse {
    text-align: right;
    transition: max-height .4s linear;
    max-height: 0;
    overflow-y: hidden;
  }

  .nav-open {
    max-height: 300px;
  }
}
