
<nav class="navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="toggleNav()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="brand.route || ''" (click)="closeNav()">
        <span class="navbar-brand-desktop">
          <i class="fa fa-home" aria-hidden="true"></i>
        </span>
        <span class="navbar-brand-mobile">
          <i class="fa fa-home"></i>
        </span>
      </a>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-right" [ngClass]="{'nav-open': navOpen}">
    <ul class="nav navbar-nav">
      <li *ngFor="let nav of navs">
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="nav.route" (click)="closeNav()">{{nav.text}}</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
