@import '../../../styles/variables';
@import '../../../styles/custom/x-imports';


//.active, .active:focus {
//  color: $theme-text-color !important;
//}

.navbar-collapse,
.navbar.navbar-default {
  border: none;
}

.nav-item.active {
  .nav-link {
    color: $defaultColor;
  }
}

.nav-link {
  line-height: 32px;
  padding: 4px .5rem;
  font-size: 20px;
  color: $navColor;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-brand-mobile {
  display: none;
}

.navbar {
  padding: 5px 15px;
  background: white;

  .navbar-brand {
    width: 32px;
    text-align: center;
    line-height: 32px;
    padding: 4px 0;
    font-size: 1.8em;

    &:hover {
      color: $navColor;
    }
  }
}

.navbar-toggler {
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.navbar-toggler .icon-bar {
  width: 4px;
  height: 4px;
  border-radius: 33px;
  background: $navColor;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 2px;
}

@media screen and (min-width: 575px) {
  .navbar {
    box-shadow: xCardShadow("3");
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-desktop {
    display: none;
  }

  .navbar-brand-mobile {
    display: inherit;
  }

  .navbar-header {
    border-bottom: solid 1px $theme-highlight-color;
  }

  .nav-open {
    max-height: 300px;
  }
}

@media screen and (max-width: 575px) {
  .navbar-collapse {
    text-align: right;
    transition: max-height .4s linear;
    max-height: 0;
    overflow-y: hidden;
  }
}
