$theme-subtle-color: #888;
$theme-text-color: #fff;
$theme-bg-color: #000;

$theme-subtle-shadow: 0 0 10px 0px $theme-highlight-color;
$theme-border-color: $theme-highlight-color;
$theme-navbar-transparency: .3;

$navbar-default-link-color:                 $theme-subtle-color;
$navbar-default-link-hover-color:           $theme-text-color;
$navbar-default-toggle-icon-bar-bg:         $theme-subtle-color;
$navbar-default-brand-color:                $theme-subtle-color;
