$color-dark-purple: #5e0e8a;
$color-purple: #a314b2;
$color-light-purple: #bd57ff;
$color-pink: #ff66cc;
$color-light-red: #ff6771;
$color-salmon: #ff795e;
$color-red: #ff4430;
$color-dark-red: #640e0a;
$color-vibrant-orange: #ff7200;
$color-light-orange: #e28149;
$color-dark-yellow: #fbbc05;
$color-light-yellow: #fffaa6;
$color-light-brown: #bfaf80;
$color-brown: #8c6954;
$color-dark-brown: #291303;
$color-dark-green: #19561c;
$color-google-green: #34a853;
$color-light-green: #37d157;
$color-ocean-green: #3dae8b;
$color-light-blue: #8bd0ff;
$color-facebook-blue: #4267b2;
$color-blue: #403bff;
$color-dark-blue: #140e6e;

$theme-highlight-color: $color-light-green;
