@import "colors";
@import "~sass-material-colors";

$footer-height:                     50px;
$body-padding-top:                  100px;
$border-width-normal:               2px;
$border-width-thin:                 1px;

$theme-border-normal:               solid $border-width-normal $theme-highlight-color;
$theme-border-thin:                 solid $border-width-thin $theme-highlight-color;

$theme-highlight-color:             $color-yellow;
$theme-subtle-color:                #888;
$theme-text-color:                  #000;
$theme-bg-color:                    #fff;

$theme-title-font-family:           "Open Sans Condensed", "sans-serif";
$theme-title-weight:                bold;
$theme-title-style:                 inherit;
$theme-nav-font-variant:            small-caps;

$theme-shadow-subtle:               0 0 10px -2px $theme-highlight-color;
$theme-shadow-normal:               0 0 10px 0px $theme-highlight-color;
$theme-border-color:                $theme-highlight-color;

$theme-navbar-transparency:         .1;
$navbar-default-bg:                 transparentize($theme-bg-color, $theme-navbar-transparency);
$navbar-height:                     50px;
$navColor:                          #424242;

$anchorColor:                       #E91E63;
$defaultColor:                      #212121;
$accentColor:                       #4A148C;

$raisedShadow:                      (0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)) !default;
$raisedShadowActive:                (0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)) !default;
$raisedShadowActiveAlt:             (0 5px 25px -3px rgba(0, 0, 0, 0.2), 0 5px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 14px 2px rgba(0, 0, 0, 0.12)) !default;
$raisedShadowFab:                   (0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)) !default;
$raisedShadowFabActive:             (0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12)) !default;



