<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<h1>Customize Profile</h1>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<form [formGroup]="form">-->
      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="text" matInput formControlName="avatarUrl" placeholder="Avatar URL">-->
          <!--<mat-icon matPrefix>link&nbsp;</mat-icon>-->
          <!--&lt;!&ndash;<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>&ndash;&gt;-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="text" matInput formControlName="name" placeholder="Name">-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<textarea type="text" matInput formControlName="bio" placeholder="Bio"></textarea>-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="text" matInput formControlName="resume" placeholder="Resume">-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="url" matInput formControlName="stackOverflow" placeholder="Stack Overflow URL">-->
          <!--<mat-icon matPrefix>link&nbsp;</mat-icon>-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="url" matInput formControlName="personalSite" placeholder="Personal Site URL">-->
          <!--<mat-icon matPrefix>link&nbsp;</mat-icon>-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="text" matInput formControlName="locationCity" placeholder="Location (City)">-->
          <!--<mat-icon matPrefix>location_city&nbsp;</mat-icon>-->
        <!--</mat-form-field>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6">-->
        <!--<mat-form-field>-->
          <!--<input type="text" matInput formControlName="locationRegion" placeholder="Location (Region)">-->
          <!--<mat-icon matPrefix>location_on&nbsp;</mat-icon>-->
        <!--</mat-form-field>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
