@import '../styles/variables';
@import '../styles/custom/x-imports';

.router-container {
  display: block;
  min-height: calc(100vh - #{$navbar-height});
  /* equal to footer height */
  margin-bottom: -$footer-height;
}

.router-container:after {
  content: "";
  display: block;
  height: $footer-height;
}

.cta {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 40px;
  z-index: 1;
  background: #fff;
  height: 42px;
  width: 42px;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: xCardShadow("4");
  border: solid 1px #fff;
  transition: color 250ms cubic-bezier(.4,0,.2,1), box-shadow 180ms cubic-bezier(.4,0,.2,1);
  cursor: default !important;

  &:hover,
  &:focus {
    outline: none;
    color: $anchorColor;
  }

  &:active {
    color: darken($anchorColor, 15%);
    box-shadow: xCardShadow("2");
  }
}
