@import '../../../styles/variables';

$border-width-normal: $border-width-normal;
$border-width-thin: $border-width-thin;
$theme-border-normal: $theme-border-normal;

#about {

  &-img {
    border-radius: 999px;
    max-width: 200px;
    display: block;
    margin: auto;
    border: $theme-border-normal;
    //box-shadow: $theme-shadow-normal;
  }

  &-name, &-location {
    text-align: center;
  }

  &-location {
    font-family: $theme-title-font-family;
    color: $theme-subtle-color;

    > .fa {
      color: $theme-highlight-color;
    }
  }

  &-summary {
    font-size: 1em;
  }

  &-title {
  }

  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
    //font-style: italic;
    font-variant: small-caps;
    color: $theme-text-color;
    border-top: $theme-border-normal;
    border-bottom: $theme-border-normal;
    padding: 10px;
  }
}

.about {

  &-link {
    padding: 5px;
    margin: auto 8px;
    font-size: 20px;
  }

  &-skill {
    display: inline-block;
    margin: auto 3px;
    font-style: italic;
    font-variant: small-caps;
  }
}


