/* You can add global styles to this file, and also import other style files */
@import './styles/stylesheets/bootstrap-sprockets';
@import './styles/stylesheets/bootstrap';

* {
  margin: 0;
}
html, body {
  font-family: "Raleway", 'sans-serif';
  height: 100%;
}

body {
  padding-top: $navbar-height + 1 + $body-padding-top;
  background: $theme-bg-color;
  color: $theme-text-color;
}

hr {
  border-color: $theme-subtle-color;
}

a {
  transition: color .4s linear;
  color: $theme-highlight-color;

  &.inverted {
    color: $theme-text-color;

    &:hover {
      color: $theme-highlight-color;
    }
  }

  &:hover {
    color: initial;
    text-decoration: none !important;
  }
}

.port-vert-space {
  margin: 15px auto;
}

.port-section {
  &-title {
    font-weight: $theme-title-weight;
    font-style: $theme-title-style;
    color: $theme-subtle-color;
    font-size: 1.1em;
  }
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.navbar-toggle .icon-bar {
  width: 3px;
  height: 3px;
  border-radius: 33px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}


@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

