@import 'styles/variables';
@import 'styles/custom/x-imports';
@import 'styles/scss/bootstrap';

* {
  margin: 0;
}

html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

body {
  padding-top: $navbar-height;
  background-image: linear-gradient(135deg, #F50057 -10%, #4A148C 90%);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", 'sans-serif';
}

hr {
  border-top: $theme-border-normal;
}

a {
  transition: color 280ms cubic-bezier(.4,0,.2,1);
  color: $anchorColor;
  text-decoration: none;

  &:hover {
    color: $defaultColor;
    text-decoration: none;
  }
}

.accent {
  color: $accentColor;
}

.port-vert-space {
  margin: 15px auto;
}

.port-section {
  &-title {
    font-family: $theme-title-font-family;
    font-weight: $theme-title-weight;
    font-style: $theme-title-style;
    color: $theme-text-color;
    font-size: 1.1em;
  }
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

@include xCard;

.ui-card {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  .ui-card-header {
    flex: 0 0 80px;
    padding: 1em;

    .ui-card-header-title {
      min-height: 80px;
    }
  }
  .ui-card-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.powered-by {
  max-width: 100%;
  width: 100px;
  margin: .5rem auto;
}


